/*** set the width and height to match your images **/

#slideshow1{
	position:relative;
	height:235px;
}

#slideshow1 IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow1 IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow1 IMG.last-active {
    z-index:9;
}

#slideshow2{
	position:relative;
	height:235px;
}

#slideshow2 IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow2 IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow2 IMG.last-active {
    z-index:9;
}

#slideshow3{
	position:relative;
	height:235px;
}

#slideshow3 IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow3 IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow3 IMG.last-active {
    z-index:9;
}
#slideshow4{
	position:relative;
	height:235px;
}

#slideshow4 IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow4 IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow4 IMG.last-active {
    z-index:9;
}